asgiref==3.8.1
cms==0.0.2
distlib==0.3.9
Django==5.0.6
filelock==3.16.1
fpdf==1.7.2
gunicorn==23.0.0
joblib==1.4.2
numpy==2.1.0
packaging==24.2
pandas==2.2.2
platformdirs==4.3.6
python-dateutil==2.9.0.post0
pytz==2024.1
scikit-learn==1.5.1
scipy==1.14.1
six==1.16.0
sqlparse==0.5.0
threadpoolctl==3.5.0
tzdata==2024.1
virtualenv==20.28.1
whitenoise==6.9.0